<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">

            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <!-- Title -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="valid-feedback">Description looks good!</div>
                    <div class="invalid-feedback">Please provide a description.</div>
                </div>

                <!-- Image -->
                <div class="mb-3">
                    <img src="<%= originalImageUrl %>"/>
                </div> 

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" value="<%= listing.image %>" type="file" class="form-control">
                    <div class="invalid-feedback">Problem with Image!</div>
                </div>

                <div class="row">
                    <!-- Price -->
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                        <div class="valid-feedback">Price looks good!</div>
                        <div class="invalid-feedback">Please enter a price.</div>
                    </div>

                    <!-- Country -->
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                        <div class="valid-feedback">Country looks fine!</div>
                        <div class="invalid-feedback">Please enter a country.</div>
                    </div>
                </div>

                <!-- Location -->
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Location is valid!</div>
                    <div class="invalid-feedback">Please enter a location.</div>
                </div>
                
                <!-- Categories -->
                <div class="mb-3">
                    <label for="categorySelect" class="form-label">Category</label>
                    <select name="listing[categories]" id="categorySelect" class="form-select form-select-sm" required>
                      <option value="">Select</option>
                      <option value="Amazing pools">Amazing pools</option>
                      <option value="Amazing views">Amazing views</option>
                      <option value="Arctic">Arctic</option>
                      <option value="Beach">Beach</option>
                      <option value="Cabins">Cabins</option>
                      <option value="Camping">Camping</option>
                      <option value="Castles">Castles</option>
                      <option value="Countryside">Countryside</option>
                      <option value="Domes">Domes</option>
                      <option value="Farms">Farms</option>
                      <option value="Historical homes">Historical homes</option>
                      <option value="Islands">Islands</option>
                      <option value="Mansions">Mansions</option>
                      <option value="Mountains">Mountains</option>
                      <option value="National parks">National parks</option>
                      <option value="Rooms">Rooms</option>
                      <option value="Ski-in-out">Ski-in/out</option>
                      <option value="Top cities">Top cities</option>
                      <option value="Treehouses">Treehouses</option>
                      <option value="Tropical">Tropical</option>
                    </select>
                    <div class="invalid-feedback">Please select at least one category.</div>
                  </div>
                  

                <br>
                <button type="submit" class="btn btn-dark">Apply Changes</button>
                &nbsp;&nbsp;
                <a href="/listings/<%= listing._id %>" class="btn btn-secondary">Cancel</a>
                <br><br>
            </form>
        </div>
    </div>
</body>
